* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.3s;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
*::before,
*::after {
  box-sizing: border-box;
}
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}
.icon {
  vertical-align: -0.15em;
}
body {
  background: linear-gradient(to bottom, #e4e4e6 0%, #dddddf 51%, #e3e3e5 100%);
  height: 100vh;
  width: 100%;
  position: relative;
}
.wrapper {
  position: fixed;
  left: 0;
  top: 0;
  background: black;
  opacity: 0.5;
  width: 100%;
  height: 100vh;
  z-index: 3;
  display: none;
}
.wrapper .searchPage {
  max-width: 600px;
  height: 100px;
  margin: 150px auto;
  border-radius: 10px;
  background: grey;
  position: relative;
}
.wrapper .searchText {
  color: grey;
  text-align: center;
  height: 200px;
  cursor: default;
}
.wrapper svg {
  position: absolute;
  top: 15%;
  right: 10%;
  width: 50px;
  height: 50px;
  background: grey;
  border-radius: 50%;
  border: 1px solid grey;
  vertical-align: middle;
}
.wrapper svg:hover {
  background: wheat;
  cursor: pointer;
}
.wrapper .searchText span {
  font-size: 40px;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.wrapper .searchPage #input {
  height: 70px;
  width: 75%;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 20px;
  font-size: 20px;
}
.wrapper .searchPage #input:focus {
  outline: none;
}
.wrapper .searchPage #submit {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  margin-right: 20px;
  padding: 10px 20px;
  font-size: 20px;
  background: grey;
  border-radius: 5px;
  border: 1px solid white;
  color: white;
}
.wrapper .searchPage #submit:focus {
  outline: none;
}
.wrapper .searchPage #submit:hover {
  cursor: pointer;
  color: wheat;
  border: 1px solid wheat;
}
.mainCard {
  position: absolute;
  height: 600px;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 1200px;
  margin: auto;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  border-radius: 10px;
  overflow: hidden;
}
.mainCard section {
  height: 300px;
  width: 50%;
  float: left;
}
.mainCard section.main {
  background: #ffffff;
  position: relative;
}
.mainCard section.main .eden {
  position: absolute;
  right: 0;
  bottom: 0;
  color: white;
  margin-right: -3px;
  transform: translateY(52%);
  white-space: nowrap;
  text-align: center;
  max-width: 400px;
  font-size: 120px;
  font-weight: bold;
  cursor: default;
  font-family: Arial, Helvetica, sans-serif;
  z-index: 3;
}
.eden::before {
  position: absolute;
  content: "EDEN";
  display: block;
  top: 0;
  left: 0;
  height: 48%;
  color: black;
  overflow: hidden;
  cursor: default;
}
.mainCard section.main .topNav {
  margin: 20px 30px 0 30px;
}
.mainCard section.main .topNav .logo {
  float: left;
  line-height: 40px;
  font-size: 20px;
  font-weight: bold;
  color: #0c0c0c;
  font-family: Arial, Helvetica, sans-serif;
  cursor: default;
}

.mainCard section.main .topNav .menuList {
  float: right;
  position: relative;
  transition: all 0.3s;
  cursor: default;
}
.mainCard section.main .topNav .menuList span {
  line-height: 40px;
  color: #3a3a3a;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: normal;
  cursor: default;
}
.mainCard section.main .topNav .menuList svg {
  width: 40px;
  height: 40px;
  margin: 0 10px;
  vertical-align: top;
  fill: #3a3a3a;
  cursor: pointer;
  transition: all 0.3s;
}
.mainCard section.main .topNav .menuList svg:nth-child(1) {
  margin: 0 60px;
  width: 30px;
  height: 30px;
  vertical-align: middle;
}
.mainCard section.main .topNav .menuList svg:hover {
  fill: #d8d7da;
  transform: scale(1.1);
}
svg#menu:hover ~ ul {
  display: block;
  animation: submenuSlide 0.4s;
}
svg#menu:hover ~ ul > li {
  display: block;
  animation: submenuSlideOne 0.4s;
}
@keyframes submenuSlide {
  0% {
    margin-right: 100%;
  }
  100% {
    margin-right: 0%;
  }
}
@keyframes submenuSlideOne {
  0% {
    margin-top: 100%;
  }
  100% {
    margin-top: 0%;
  }
}
.mainCard section.main .topNav .menuList ul {
  text-decoration: none;
  list-style: none;
  position: absolute;
  right: 0;
  top: 100%;
  white-space: nowrap;
  border-radius: 5px;
  overflow: hidden;
  border: 1px solid #d8d7da;
  transition: all 0.3s;
  display: none;
  z-index: 4;
}
.mainCard section.main .topNav .menuList ul li {
  text-align: center;
  font-size: 14px;
  line-height: 20px;
  padding: 5px 10px;
  border: 1px solid black;
  margin: 20px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s;
}
.mainCard section.main .topNav .menuList ul li:hover {
  color: #d8d7da;
  border: 1px solid #d8d7da;
  transform: scale(1.1);
}
.mainCard section.main div.selectors {
  position: absolute;
  left: 0;
  bottom: 0;
  margin: 10px;
}
.mainCard section.main div.selectors svg {
  height: 20px;
  width: 20px;
  margin: 10px;
  vertical-align: top;
  cursor: pointer;
}
.mainCard section.main .github {
  bottom: 15px;
  border: 1px solid black;
  border-radius: 50%;
  margin: 20px;
  cursor: pointer;
}
.mainCard section.main .sf {
  bottom: 55px;
  border: 1px solid black;
  border-radius: 50%;
  margin: 20px;
  cursor: pointer;
}
.mainCard section.main .ins {
  bottom: 95px;
  border: 1px solid black;
  border-radius: 50%;
  margin: 20px;
}
.mainCard section.main .github:hover,
.mainCard section.main .sf:hover,
.mainCard section.main .ins:hover {
  border: 1px solid #d8d7da;
  transform: scale(1.1);
  fill: #d8d7da;
}
.mainCard section.image {
  background: linear-gradient(to bottom, #e4e4e6 0%, #dad9dc 2%, #b2b2b4 100%);
  position: relative;
}
.mainCard section.image .img-one{
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  overflow: hidden;
}
.mainCard section.image .img-two{
  position: absolute;
  top: 0;
  left: 300px;
  text-align: center;
  overflow: hidden;
}
.mainCard section.image .img-three{
  position: absolute;
  top: 150px;
  left: 300px;
  text-align: center;
  overflow: hidden;
}
.mainCard section.image>div:hover{
  background: black;
  opacity: 0.5;
}
.mainCard section.image .imgText{
  position: absolute;
  font-size: 24px;
  color: #000000;
  opacity: 1;
  font-family: Arial, Helvetica, sans-serif;
}
.mainCard section.image svg{
  width: 40px;
  height: 40px;
  position: absolute;
  opacity: 0;
}
.mainCard section.image .img-one .imgText{
  top: 80px;
  left: 50%;
  transform: translateX(-50%) translateY(-400%);
}
.mainCard section.image .img-one svg{
  top: 170px;
  left: 50%;
  transform: translateX(-50%) translateY(400%);
}
.mainCard section.image .img-one:hover .imgText{
  transform: translateX(-50%) translateY(0);
}
.mainCard section.image .img-one:hover svg{
  transform: translateX(-50%) translateY(0);
  opacity: 0.5;
}
.mainCard section.image .img-one svg:hover{
  opacity: 1;
  cursor: pointer;
}
.mainCard section.image .img-two .imgText{
  top: 15px;
  left: 50%;
  transform: translateX(-50%) translateY(-400%);
}
.mainCard section.image .img-two svg{
  top: 95px;
  left: 50%;
  transform: translateX(-50%) translateY(400%);
}
.mainCard section.image .img-two:hover .imgText{
  transform: translateX(-50%) translateY(0);
}
.mainCard section.image .img-two:hover svg{
  transform: translateX(-50%) translateY(0);
  opacity: 0.5;
}
.mainCard section.image .img-two svg:hover{
  opacity: 1;
  cursor: pointer;
}
.mainCard section.image .img-three .imgText{
  top: 15px;
  left: 50%;
  transform: translateX(-50%) translateY(-400%);
}
.mainCard section.image .img-three svg{
  top: 95px;
  left: 50%;
  transform: translateX(-50%) translateY(400%);
}
.mainCard section.image .img-three:hover .imgText{
  transform: translateX(-50%) translateY(0);
}
.mainCard section.image .img-three:hover svg{
  transform: translateX(-50%) translateY(0);
  opacity: 0.5;
}
.mainCard section.image .img-three svg:hover{
  opacity: 1;
  cursor: pointer;
}
.mainCard section.introduce {
  background: linear-gradient(to bottom, #e4e4e6 0%, #dad9dc 2%, #b2b2b4 100%);
  position: relative;
  z-index: 1;
}
.mainCard section.introduce .leftSque{
  position: absolute;
  background: white;
  right: 0;
  bottom: 0;
}
.mainCard section.introduce .rightSque{
  position: absolute;
  background: white;
  bottom: 0;
  left: 100%;
}
.mainCard section.introduce>div svg{
  height: 40px;
  width: 40px;
  padding: 10px;
  margin: 20px;
  z-index: 1;
  fill: black;
}
.mainCard section.introduce>div svg:hover{
  transform: scale(1.3);
  cursor: pointer;
}
.mainCard section.introduce .sheng {
  -webkit-text-stroke: 1px #666666;
  -webkit-text-fill-color: transparent;
  color: transparent;
  font-family: Arial, Helvetica, sans-serif;
  cursor: default;
  position: absolute;
  left: 0;
  bottom: 0;
  font-weight: bold;
  transform: rotate(270deg) translateX(40%) translateY(100%);
  font-size: 140px;
  letter-spacing: -10px;
  z-index: 2;
}
.mainCard section.menu {
  background: #ffffff;
  position: relative;
  overflow: hidden;
}
.mainCard section.menu .design {
  position: absolute;
  left: 10%;
  top: 20%;
  font-size: 24px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
}
.mainCard section.menu .notice {
  position: absolute;
  left: 20%;
  top: 60%;
  font-size: 16px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  color: rgb(206, 201, 201);
}
.mainCard section.menu .viewAll {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 210px;
  height: 66px;
  background: black;
  text-align: center;
  cursor: pointer;
  font-family: "Microsoft Yahei", "微软雅黑";
}
.mainCard section.menu .viewAll span {
  color: white;
  font-size: 24px;
  line-height: 66px;
  display: inline-block;
}
.mainCard section.menu .viewAll svg#viewAllIcon {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  transform: translateX(500%);
}
.mainCard section.menu .viewAll ol#olOne {
  position: absolute;
  right: 10%;
  bottom: 100%;
  list-style: none;
  cursor: default;
  white-space: nowrap;
  border: 2px solid #b4b4b6;
  border-left: none;
  border-bottom: none;
  color: transparent;
}
.mainCard section.menu .viewAll ol#olTwo {
  position: absolute;
  right: 10%;
  bottom: 85%;
  list-style: none;
  cursor: default;
  white-space: nowrap;
  border: 2px solid transparent;
  transform: translateX(400%);
  z-index: 1;
}
.mainCard section.menu .viewAll ol li {
  margin: 10px 0;
  text-align: right;
  color: #c3c3c3;
  cursor: pointer;
  padding-right: 10px;
  transform: translateX(200%);
}
.mainCard section.menu .viewAll ol li:nth-child(1) {
  transition: 0.2s;
}
.mainCard section.menu .viewAll ol li:nth-child(2) {
  transition: 0.3s;
}
.mainCard section.menu .viewAll ol li:nth-child(3) {
  transition: 0.4s;
}
.mainCard section.menu .viewAll ol li:nth-child(4) {
  transition: 0.5s;
}
.mainCard section.menu .viewAll ol li:nth-child(5) {
  transition: 0.6s;
}
.mainCard section.menu .viewAll ol li:nth-child(6) {
  margin: 10px 0 20px 0;
  transition: 0.7s;
}
.mainCard section.menu .viewAll .viewButton:hover ~ ol#olTwo li {
  transform: translateX(0);
}
.mainCard section.menu .viewAll .viewButton:hover ~ ol#olTwo {
  transform: translateX(0);
}
.mainCard section.menu .viewAll ol#olTwo li:hover {
  color: #3a3a3a;
}
.mainCard section.menu .viewAll svg#xiangmuIcon {
  width: 80px;
  height: 80px;
  position: absolute;
  right: 35%;
  bottom: 200%;
  cursor: default;
}
